In [1]:
import pandas as pd
df = pd.read_csv('netflix_titles.csv')

In [2]:
import sqlalchemy as sal
engine = sal.create_engine(
    'mssql+pyodbc://Dell-10th/master?driver=ODBC+Driver+17+for+SQL+Server',  fast_executemany=True
    )
conn= engine.connect()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_16320\1060252715.py:5: SAWarning: Unrecognized server version info '17.0.1000.7'.  Some SQL Server features may not function properly.
  conn= engine.connect()

In [3]:
from sqlalchemy.types import NVARCHAR, Integer

df.to_sql(
    "netflix_data",
    con=engine,
    if_exists="append",
    index=False,
    dtype={
        "show_id": NVARCHAR(10),
        "type": NVARCHAR(10),
        "title": NVARCHAR(200),
        "director": NVARCHAR(250),
        "cast": NVARCHAR(1000),
        "country": NVARCHAR(150),
        "date_added": NVARCHAR(20),
        "release_year": Integer(),
        "rating": NVARCHAR(10),
        "duration": NVARCHAR(10),
        "listed_in": NVARCHAR(100),
        "description": NVARCHAR(500),
    }
)
conn.close()

In [ ]:
# df.to_sql('netflix_data', conn, if_exists='append', index=False)
# conn.close()

In [4]:
df[df.show_id == 's5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...